:root {
    --accent-color: white;
}

body{
    background-color: rgb(40, 61, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.7;
}


h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accent-color);
    font-size: 36px;
   
    
}

p {
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-top: 1px dotted #e5e5e5;
    padding-top: 10px;
   
}

img {
    width: 40%;
    height:auto;
    
}
